<!DOCTYPE html>
<html lang="en" class="h-75">
    <%- include('./layouts/head') %> 
    <body class="h-100">
        <%- include('./layouts/header') %>
        <div id="mainContainer" class="container-fluid h-100 p-0">
            <section id="contentContainer" class="d-flex flex-column mt-3 w-100 align-items-center">
                <input id="name" type="text" class="form-control w-25 mb-5 mt-5" placeholder="Username.."/>
                <button id="btnCreate" type="button" class="btn btn-lg btn-outline-dark w-50 mb-2" onclick="createRoom()">Create Room</button>
                <div class="input-group w-50 mb-2">
                    <input id="roomId" type="text" class="form-control" placeholder="Room's code"/>
                    <button id="btnJoin" type="button" class="btn btn-lg btn-outline-dark" onclick="joinRoom()">Join Room</button>
                </div>
            </section>
        </div>
    </body>
</html>
    