<section class="d-flex flex-column mt-4">
    <div id="container-info" class="d-flex flex-column text-center mb-3">
        <span id="clientCounter"></span> 
        <span id="roomCode"></span>
    </div>
    <div id="container-editor">
        <!-- hidden text editor -->
        <div id="textarea-wrapper" class="">
            <textarea id="textarea" onkeyup="receiveInput(event)"></textarea>
        </div>
        <!-- outer text editor / container -->
        <div id="text-presentation-wrapper" class="w-75 h-75 p-3 border border-dark rounded">
            <!-- text editor presentation -->
            <div id="text-presentation" class="w-100 h-100" tabindex="0" onclick="getClickPosition(event)">     
                <!-- first line -->
                <div id="1" class="line">
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
</section>


