<section id="contentContainer" class="d-flex flex-column mt-5 align-items-center w-100 h-100">
    <div class="d-flex flex-column text-start mb-3">
        <span id="roomCode" class="none"></span>
        <span id="clientCounter" class="none"></span> 
    </div>
    <!-- <textarea id="editor" autofocus placeholder="Insert text here.." onkeyup="updateContent()"
    class="w-75" rows="10"></textarea> -->

    <div id="editor" class="w-75 h-75 p-2 border border-dark rounded" contenteditable="true" onkeyup="updateContent()" onclick="getCaretPosition(Element)"></div>
</section>