.none{
    visibility: hidden;
}

.cursor-wrapper {
    z-index: 3;
    position: relative;
}

.cursor {
    pointer-events: none;
    border-left: 1px solid black;
    position: absolute;
    line-height: 1.5;
}

.cursor-name {
    font-size: 0.7em;
    top: -1em;
    position: absolute;
    border-radius: 0.5em;
    padding: 0.1em;
}

#textarea-wrapper {
    /* overflow: hidden; */
    position: relative;
}

#textarea {
    position: absolute;
}

#text-presentation-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#text-presentation {
    z-index: 2;
    position: relative;
    overflow: scroll;
}

#text-presentation::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#text-presentation::-webkit-scrollbar-thumb {
    background: #D0D0D0;
    border-radius: 0.5em;
}

.line {
    line-height: 1.5;
    min-height: 1.5em;
    width: 100%;
    z-index: 3;
    position: relative;
    display: block;
}

.line pre {
    font-family: monospace;
    display: inline;
}