<head>
    <!-- required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Collaborative Text Editor</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

    <!-- Local CSS  -->
    <link href="/styles.css" rel="stylesheet" type="text/css"/>

    <!-- script page listener & client websocket -->
    <script src="/config.js" defer></script> 
    <script src="/mainManager.js" defer></script> 
    <script src="/texteditorManager.js" defer></script> 
    <script src="/clientWs.js" defer></script>
</head>