<header>
    <script>title = '<%= title %>'</script>
    <div class="p-3 container-fluid bg-warning bg-gradient">
        <h1 class="fs-4 fw-bolder">
            Collaborative Text Editor
            <span class="badge bg-secondary">on progress</span>
        </h1>
    </div>
    <%- include('nav') %>
</header>